*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  background-color:  #533023;
}
nav{
  background-color: #c08552;
}

p{
  text-align: center;
  
}
body{
  background-color: #F3E9DC;
  height: 100%;
}

main{

  margin-top: 1.5rem;

  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
  overflow-y: auto;
}
.theList{
  display: grid;
  place-content: center;

}
.myButton{
  color: #533023;
  width: 50px;
  height: 30px;
}
.myButton:hover, .myButton:focus{
  color: #c08552;
  cursor: pointer;
}

.item{
  display:  flex;
  margin-bottom: 50px;
  padding-bottom: 5px;
  border-bottom: 1.5px solid #533023;
}

li:hover, li:focus{
  text-decoration: underline;
}
label{
  width: 100%;
}
input[type='checkbox'] {
  width: 50px;
  
}
input[type='text'] {
  width: 100%;
  padding: 10px;

}
.addForm{
  display: flex;
  gap: 1rem;
  height: 30px;
  margin: 10px;
}
.FormSearch{
  display: flex;
  width: 500px;
  height: 30px;
  margin: 10px;
}
#none{
 display: none;
}

Footer{
  background-color: #533023;
  color:white;
  position: fixed;
  bottom: 0;
  width: 100dvw;
  height: 30px;
  padding-top: 3px;
  
}